# ROS 2
build/
install/
log/
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store


*.pt

*venv

# Net Tuning 
net/SensorEstimator/logs_tuning 
net/SensorEstimator/tuning_results
net/SensorEstimator/channel_loss.py 
net/SensorEstimator/chech_offset.py  
net/SensorEstimator/overlay.py 
